.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form-signup{
    height: 50%;
    border: 1px solid red;
    width: 40%;
}

.signup__header{
    margin: 10px;  
}
.signup-block > input{
    height: 30px;
    margin: 10px;
    font-size: 1.2rem;
    width: 270px;
}

.signup-block{
    font-size: 1.3rem;
    font-weight: bold;
}