.Form {
  font-size: 1.3rem;
  width: 30%;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #02383c;
}
.inputForm {
  padding: 5px;
  width: 95%;
  height: 35px;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

.field {
  display: flex;
  align-items: center;
}
.errorInfo {
  color: red;
  font-size: 1.3rem;
}
.signupHeading {
  font-size: 1.3rem;
  padding: 15px;
  color: #c84b31;
}
.radioSelect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  font-size: 1.5rem;
}
.radioButtons {
  margin: 10px;
}

.signupLink {
  color: white;
}
.checkBox {
  height: 25px;
  width: 25px;
  margin: 5px 10px;
}
@media only screen and (max-width: 600px) {
  .Form {
    width: 80%;
  }
}
