.todoCheckbox{
    border: 2px solid red;
    height: 30px;
    width: 30px;
}
.todoItem{
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    
    .todoItem{
        flex-wrap: wrap;
    }
  }