.todos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.todoMessage{
    width: 270px;
    margin: 10px 20px;
    font-size: 1.6rem;
    color: white;
    word-wrap: break-word;
}
.deleteButton{
    padding: 10px 15px;
    margin-left: 10px;;
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.editButton {
    padding: 6px 14px;
    border: none;
    background-color: var(--primary-color) ;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.todoCheckbox{
    border: 2px solid red;
    height: 30px;
    width: 30px;
}