.todos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 35%;
  margin: auto;
}

.todoList {
  margin-bottom: 30px;
  background-color: #346751;
}
.draggingOver {
  background-color: #c3ba85;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .todos {
    width: 90%;
  }
}
