.inputContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoInput > input {
    margin: 7px;
    padding: 10px;
    min-width: 220px;
    width: 200px;
    font-size: 1.3rem;
}

