:root {
  --primary-color: #c84b31;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.todoBody {
  height: 100%;
  background-color: inherit;
}
