.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.5% 20%;
}
.todoHeading {
    color: var(--primary-color);
    padding: 2%;
    font-size: 1.9rem;
  }