.Form {
  font-size: 1.3rem; 
}
.inputForm {
  padding: 5px;
  width: 200px;
  font-size: 1.3rem;
  display: block;
  margin: 7px auto;
}
.errorInfo{
  color: red
}
.heading{
  font-size: 1.7rem;
  padding: 15px;
  color: #c84b31;
}
.radioSelect{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.radioButtons{
  margin: 10px;
}
